header.header {
    width: 100%;
}

.inner-header {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    padding: 1em 0;
}

.site-title {
    margin-right: 12px;
    a {
        font-size: 1.5rem;
    }
}
